<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Action.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FreeYourPages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43199A4F1E12D4130073B182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43199A631E12D4140073B182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43199A6E1E12D4140073B182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43199A841E12D46C0073B182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43199A971E12D6160073B182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
